<CATALOG><% for (i=0; i<Title.length; i++) { %>
  <CD>
    <TITLE><%- Title[i] %></TITLE>
    <ARTIST><%- Artist[i] %></ARTIST>
    <COUNTRY><%- Country[i] %></COUNTRY>
    <COMPANY><%- Company[i] %></COMPANY>
    <PRICE><%- Price[i] %></PRICE>
    <YEAR><%- Year[i] %></YEAR>
  </CD><% } %>
</CATALOG>
