<CATALOG>
  <TITLE><%- Title %></TITLE>
  <ARTIST><%- Artist %></ARTIST>
  <COUNTRY><%- Country %></COUNTRY>
  <COMPANY><%- Company %></COMPANY>
  <PRICE><%- Price %></PRICE>
  <YEAR><%- Year %></YEAR>
</CATALOG>
